Source: deepin-ports-profiles
Section: metapackages
Priority: standard
Maintainer: LinuxDeepin Project <linuxdeepin@linuxdeepin.com>
Build-Depends: debhelper (>= 8.0.0),
               debhelper-compat (= 13),
Standards-Version: 3.9.3
Homepage: https://github.com/deepin-community/deepin-ports-profiles

Package: deepin-ports-profile-phytiumpi
Architecture: all
Depends: ${misc:Depends},
         u-boot-tools,
         initramfs-tools,
Description: deepin ports SIG profile for phytiumpi

Package: deepin-ports-profile-unmatched
Architecture: all
Depends: ${misc:Depends},
         u-boot-menu,
         initramfs-tools,
Description: deepin ports SIG profile for unmatched

Package: deepin-ports-profile-jh7110
Architecture: all
Depends: ${misc:Depends},
         firmware-jh7110-vpu,
         jh7110-vpu-bin,
         deepin-ports-profile-gpu-ddk119,
         u-boot-menu,
         initramfs-tools,
Description: deepin ports SIG profile for jh7110

Package: deepin-ports-profile-sg2042
Architecture: all
Depends: ${misc:Depends},
         u-boot-menu,
         initramfs-tools,
Description: deepin ports SIG profile for sg2042

Package: deepin-ports-profile-th1520
Architecture: all
Depends: ${misc:Depends},
         xserver-xorg-video-thead,
         th1520-boot-firmware,
         th1520-npu,
         th1520-vpu,
         aic8800-firmware,
         rtl8723ds-firmware,
         deepin-ports-profile-gpu-ddk117,
         u-boot-menu,
         initramfs-tools,
Description: deepin ports SIG profile for th1520

Package: deepin-ports-profile-k1
Architecture: all
Depends: ${misc:Depends},
         spacemit-uart-bt,
         spacemit-flash-dtbs,
         deepin-ports-profile-gpu-ddk242-k1,
Description: deepin ports SIG profile for k1

Package: deepin-ports-profile-eic7700
Architecture: all
Depends: ${misc:Depends},
         deepin-ports-profile-gpu-ddk242-eic7700,
         u-boot-menu,
         initramfs-tools,
         ap12275-firmware,
Description: deepin ports SIG profile for eic7700

Package: deepin-ports-profile-gpu-ddk117
Architecture: all
Depends: ${misc:Depends},
         firmware-imggpu-ddk117,
         img-gpu-bin-ddk117,
         libegl-pvr0-ddk117,
         libgbm1-pvr-ddk117,
         libgl1-pvr-dri-ddk117,
         libglapi-pvr-ddk117,
         xserver-xorg-video-pvrdri,
Recommends: pvr-vulkan-drivers-ddk117,
Description: deepin ports SIG profile for GPU DDK117

Package: deepin-ports-profile-gpu-ddk119
Architecture: all
Depends: ${misc:Depends},
         firmware-imggpu-ddk119,
         img-gpu-bin-ddk119,
         libegl-pvr0-ddk119,
         libgbm1-pvr-ddk119,
         libgl1-pvr-dri-ddk119,
         libglapi-pvr-ddk119,
         xserver-xorg-video-pvrdri,
Recommends: pvr-vulkan-drivers-ddk119,
Description: deepin ports SIG profile for GPU DDK119

Package: deepin-ports-profile-gpu-ddk242-k1
Architecture: all
Depends: ${misc:Depends},
         firmware-imggpu-ddk242-k1,
         img-gpu-bin-ddk242-k1,
         libegl-pvr0-ddk242,
         libgbm1-pvr-ddk242,
         libgl1-pvr-dri-ddk242,
         libglapi-pvr-ddk242,
         xserver-xorg-video-pvrdri,
Recommends: pvr-vulkan-drivers-ddk242,
Description: deepin ports SIG profile for GPU DDK242 (K1)

Package: deepin-ports-profile-gpu-ddk242-eic7700
Architecture: all
Depends: ${misc:Depends},
         firmware-imggpu-ddk242-eic7700,
         img-gpu-bin-ddk242-eic7700,
         libegl-pvr0-ddk242,
         libgbm1-pvr-ddk242,
         libgl1-pvr-dri-ddk242,
         libglapi-pvr-ddk242,
         xserver-xorg-video-pvrdri,
Recommends: pvr-vulkan-drivers-ddk242,
Description: deepin ports SIG profile for GPU DDK242 (EIC7700)
