#!/usr/bin/make -f

PKG_PFX = deepin-ports-profile-

ALL_DEVICES = eic7700 jh7110 k1 sg2042 th1520 phytiumpi q6a cix-p1 rockchip

IMG_DEVICES = eic7700 jh7110 k1 th1520

IMG_DDK_LIST = 117 119 242-k1 242-eic7700

%:
	dh $@

override_dh_install:

	for ddkver in $(IMG_DDK_LIST) ; do \
		install -Dm755 imggpu/99-imggpu-env -t debian/$(PKG_PFX)gpu-ddk$$ddkver/etc/X11/Xsession.d/; \
		install -Dm644 imggpu/99-imggpu-modload.conf -t debian/$(PKG_PFX)gpu-ddk$$ddkver/etc/modules-load.d/; \
	done

	for pf in $(ALL_DEVICES) ; do \
		install -Dm644 disable-hibernate/disable-hibernate.conf -t debian/$(PKG_PFX)$$pf/etc/systemd/logind.conf.d/; \
		install -Dm644 disable-evbug/disable-evbug.conf -t debian/$(PKG_PFX)$$pf/etc/modprobe.d/; \
	done

	for pf in $(IMG_DEVICES) ; do \
		install -Dm644 imggpu/99-imggpu-xorg.conf.in debian/$(PKG_PFX)$$pf/etc/X11/xorg.conf.d/99-imggpu-xorg.conf; \
		if [ "$$pf" = "eic7700" ] || [ "$$pf" = "th1520" ]; then \
			sed -i 's@KMSDEV@/dev/dri/card0@' debian/$(PKG_PFX)$$pf/etc/X11/xorg.conf.d/99-imggpu-xorg.conf; \
		else \
			sed -i 's@KMSDEV@/dev/dri/card1@' debian/$(PKG_PFX)$$pf/etc/X11/xorg.conf.d/99-imggpu-xorg.conf; \
		fi; \
		if [ "$$pf" = "th1520" ]; then \
			sed -i 's@KMSDRI@thead@' debian/$(PKG_PFX)$$pf/etc/X11/xorg.conf.d/99-imggpu-xorg.conf; \
		else \
			sed -i 's@KMSDRI@pvrdri@' debian/$(PKG_PFX)$$pf/etc/X11/xorg.conf.d/99-imggpu-xorg.conf; \
		fi; \
	done

	for pf in eic7700 jh7110 th1520 unmatched ; do \
		install -Dm644 uboot/00-common.conf -t debian/$(PKG_PFX)$$pf/usr/share/u-boot-menu/conf.d/; \
	done
	for pf in eic7700 jh7110 th1520 unmatched sg2042 ; do \
		install -Dm644 uboot/55-$$pf.conf -t debian/$(PKG_PFX)$$pf/usr/share/u-boot-menu/conf.d/; \
	done

	install -Dm644 profiles/eic7700/fix-eth.conf -t debian/$(PKG_PFX)eic7700/etc/modprobe.d/
	install -Dm644 profiles/eic7700/99-fix-gamma.conf -t debian/$(PKG_PFX)eic7700/etc/X11/xorg.conf.d/
	install -Dm644 profiles/eic7700/eswin-codecs.rules -t debian/$(PKG_PFX)eic7700/etc/udev/rules.d/

	install -Dm644 profiles/jh7110/jh7110-codecs.rules -t debian/$(PKG_PFX)jh7110/etc/udev/rules.d/

	install -Dm755 profiles/sg2042/sg2042-extgpu.conf -t debian/$(PKG_PFX)sg2042/etc/modprobe.d/
	install -Dm755 profiles/sg2042/99-primarygpu.conf -t debian/$(PKG_PFX)sg2042/etc/X11/xorg.conf.d/

	install -Dm755 profiles/q6a/adreno -t debian/$(PKG_PFX)q6a/usr/share/initramfs-tools/hooks/
	install -Dm644 profiles/q6a/aic-btusb-dkms.conf -t debian/$(PKG_PFX)q6a/etc/modprobe.d/

	install -Dm755 profiles/k1-cloud/agent-install -t debian/$(PKG_PFX)k1-cloud/usr/bin/
	install -Dm755 profiles/k1-cloud/agent-install.service -t debian/$(PKG_PFX)k1-cloud/usr/lib/systemd/system/
	install -Dm644 profiles/k1-cloud/x11vnc.service -t debian/$(PKG_PFX)k1-cloud/usr/lib/systemd/system/
	install -Dm644 profiles/k1-cloud/sudo-cloud -t debian/$(PKG_PFX)k1-cloud/etc/sudoers.d/
	install -Dm644 profiles/k1-cloud/autologin.conf -t debian/$(PKG_PFX)k1-cloud/etc/lightdm/lightdm.conf.d/
	install -Dm644 profiles/k1-cloud/code-oss-server.service -t debian/$(PKG_PFX)k1-cloud/usr/lib/systemd/system/
	install -Dm755 profiles/k1-cloud/disable-lock.sh -t debian/$(PKG_PFX)k1-cloud/etc/profile.d/
	install -Dm644 profiles/k1-cloud/99-dummyscreen.conf -t debian/$(PKG_PFX)k1-cloud/etc/X11/xorg.conf.d
	install -Dm644 profiles/k1-cloud/state_user -t debian/$(PKG_PFX)k1-cloud/var/lib/lightdm/lightdm-deepin-greeter

	install -Dm755 profiles/rockchip/copy-gpu-firmware -t debian/$(PKG_PFX)rockchip/etc/initramfs-tools/hooks/
	install -d debian/$(PKG_PFX)rockchip/etc/systemd/system/
	ln -s /dev/null debian/$(PKG_PFX)rockchip/etc/systemd/system/deepin-anything-server.service
